<template>
  <q-page>
    <q-scroll-observer @scroll="onScroll" />

    <banner/>
    <bemVindo/>
    <local/>
    <modelos/>
    <program/>
    <price/>
    <q-dialog v-model="$root.$children[0].$data.showForm" persistent content-class="popup" transition-show="jump-down" transition-hide="jump-down">
      <applicationForm/>
    </q-dialog>
    

  </q-page>
</template>

<script>
import { Screen } from "quasar";
import banner from 'components/step_1.vue';
import bemVindo from 'components/step_2.vue';
import local from 'components/step_3.vue';
import modelos from 'components/step_4.vue';
import program from 'components/step_5.vue';
import price from 'components/step_6.vue';
import applicationForm from 'components/form.vue';

export default {
  name: "PageIndex",
  components: {
      banner,
      bemVindo,
      local,modelos,program,price,applicationForm
  },
  mounted() {
    
    this.randomGridStep2();
  },
  methods: {
    onScroll (info) {
      
      if (document.querySelector('header')!=null) {
        if (info.position>(Screen.height/2)) {
          document.querySelector('header').classList.add('scroll')
        } else {
          document.querySelector('header').classList.remove('scroll')
        }
      }
    },
    randomGridStep2() {
      let total = document.querySelectorAll('#step_2 .blocks .block_grid').length;
      let idx =  Math.floor((Math.random() * total) + 1);
      
      if (document.querySelectorAll('#step_2 .blocks .block_grid')[idx-1]) {
        if (document.querySelectorAll('#step_2 .blocks .block_grid')[idx-1].classList.contains('animate')==false) {
          document.querySelectorAll('#step_2 .blocks .block_grid')[idx-1].classList.add('animate')
        }
      }

      setTimeout(() => {
        this.randomGridStep2();
      }, 500);

    }
  },
  data() {
    return { Screen: Screen };
  }
};
</script>


<style>
    body {
        overflow-x: hidden;
    }
  .animate {
    animation: blink 5s ease-in-out infinite;
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
 }
   header {
     background-color: transparent;
     transition: all 0.3s ease-out;
     border-bottom: 1px solid transparent;
   }
    header_dis.scroll {
         background-color: white;
        border-bottom: 1px solid #eaeaea;
   }
   

  .pink_color {
    color:#F50537;
  }

  .clearfix:after {
    content:'';
    display:block;
    clear:both;
  }

  .fs-30 {
    font-size: 30px;
    line-height: 1.3;
  }
  .fs-24 {
        font-size: 24px;
    line-height: 1.3;
  }
  .fs-36 {
    font-size:36px;
    line-height: 1.3;
  }

  .fs-56 {
    font-size:56px;
    line-height: 1.3;
  }

</style>
