<template>
  <footer>
    <div class="footer-container">
      <div class="top-footer">
        <div class="footer-logos">
          <div>
            <img src="../assets/audi-r.svg" alt="Audi" />
            <a href="https://www.audi.com.br" style="display: block;color: #000;text-decoration: none;padding-left: 4px;">www.audi.com.br</a>
          </div>
          <!--img src="../assets/circuito-p.svg" alt="Circuito Panamericano" /-->
        </div>
        <div class="social-media">
          <a href="https://www.facebook.com/AudiBrasil" class="social-icon" target="_blank">
            <i class="facebook"></i>
          </a>
          <a href="https://www.instagram.com/audibr/" class="social-icon" target="_blank">
            <i class="instagram"></i>
          </a>
          <a href="https://www.tiktok.com/@audidobrasil" class="social-icon" target="_blank">
            <i class="tiktok"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/audidobrasil/"  target="_blank"
            class="social-icon"
          >
            <i class="linkedin"></i>
          </a>
        </div>
      </div>
      <div class="bottom-footer">
        <span class="copyright">
          © 2021 AUDI AG. All rights reserved
        </span>
        <span class="bbsexpert-logo">
          <a href="https://www.bigbangdigital.com.br"><img src="../assets/logo-BigBangExpert.svg" alt="Big Bang Expert" /></a>
        </span>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "footer",
};
</script>

<style scoped>
footer {
  background: #e8e8e8;
  width: 100vw;
  margin: 0;
}
.footer-container {
  max-width: 1200px;
  margin: auto;
}
.top-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 73px;
  padding-top: 73px;
  margin-bottom: 24px;
  border-bottom: 1px solid #000;
}
.footer-logos {
  display: flex;
  align-items: flex-start;
  grid-gap: 80px;
}
.social-media {
  display: flex;
  align-items: center;
  grid-gap: 80px;
}
.social-media * {
  color: #000;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
.bottom-footer {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  justify-content: space-between;
}
.copyright {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}
.social-icon {
  display: block;
}
.social-icon i {
  height: 44px;
  background-position: center;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
}
.facebook {
  background-image: url("../assets/facebook-f.svg");
  width: 23px;
}
.instagram {
  background-image: url("../assets/instagram.svg");
  width: 32px;
}
.tiktok {
  background-image: url("../assets/tik-tok.svg");
  width: 36px;
}
.linkedin {
  background-image: url("../assets/linkedin-in.svg");
  width: 32px;
}
@media (max-width: 982px) {
  .top-footer {
    flex-direction: column;
    grid-gap: 48px;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .footer-logos {
         grid-gap: 0;
    justify-content: center;
    margin-bottom: 20px;
  }
  .social-media {
        grid-gap: 24px;
    justify-content: space-around;
  }
  .bottom-footer {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
</style>
