<template>
  <q-card :class="{ mobile: Screen.width < 768 }" id="applicationForm">
    <q-card-actions align="right" class="absolute-top-right z-top">
      <q-btn flat round color="black" icon="close" v-close-popup />
    </q-card-actions>
    <div class="form-header">
      <h2>{{ formTitle }}</h2>
      <div class="progress-bar">
        <div class="progress-fill" :style="'width:' + progress + '%'"></div>
      </div>
    </div>
    <q-form @submit="onSubmit">
      <q-tab-panels v-model="step" animated class="q-pa-lg">
        <q-tab-panel name="form1">
          <div class="text-h6">1. Escolha os módulos e datas</div>
          <div class="radio-grid q-mb-xl">
            <div class="option relative-position">
              <h2>{{ module_name[0] }}</h2>
              <h3>{{ module_slots[0] }}</h3>
              <q-btn-toggle
                class="absolute-right selectbutton"
                clearable
                unelevated
                toggle-color="primary"
                color="white"
                text-color="primary"
                v-model="modulo[0]"
                :options="[
                  { label: dates[0], value: module_name[0] + ' - ' + dates[0] },
                  { label: dates[1], value: module_name[0] + ' - ' + dates[1] },
                  { label: dates[3], value: module_name[0] + ' - ' + dates[3] },
                  { label: dates[4], value: module_name[0] + ' - ' + dates[4] },
                  { label: dates[6], value: module_name[0] + ' - ' + dates[6] },
                ]"
              />
              <div class="flex prices " style="justify-content: space-between">
                <div class="box">
                  <b>Inscrição:</b>
                  <span>R$ 6.000,00</span>
                </div>
                <div class="box">
                  <b>Clientes Audi R8 (2020/21):</b>
                  <span>R$ 3.000,00</span>
                </div>
                <div class="box">
                  <b>Clientes Audi RS (2020/21):</b>
                  <span>R$ 4.500,00</span>
                </div>
                <div class="box">
                  <b>Clientes Audi RS e-tron GT:</b>
                  <span>R$ 4.500,00</span>
                </div>
              </div>
            </div>

            <div class="option relative-position">
              <h2>{{ module_name[1] }}</h2>
              <h3>{{ module_slots[1] }}</h3>
              <q-btn-toggle
                class="absolute-right selectbutton"
                clearable
                unelevated
                toggle-color="primary"
                color="white"
                text-color="primary"
                v-model="modulo[1]"
                :options="[
                  { label: dates[2], value: module_name[1] + ' - ' + dates[2] },
                  { label: dates[5], value: module_name[1] + ' - ' + dates[5] },
                ]"
              />
              <div class="flex prices " style="justify-content: space-between">
                <div class="box">
                  <b>Inscrição:</b>
                  <span>R$ 6.000,00</span>
                </div>
                <div class="box">
                  <b>Clientes Audi R8 (2020/21):</b>
                  <span>R$ 3.000,00</span>
                </div>
                <div class="box">
                  <b>Clientes Audi RS (2020/21):</b>
                  <span>R$ 4.500,00</span>
                </div>
                <div class="box">
                  <b>Clientes Audi RS e-tron GT:</b>
                  <span>R$ 4.500,00</span>
                </div>
              </div>
            </div>

            <div class="option relative-position">
              <h2>{{ module_name[2] }}</h2>
              <h3>{{ module_slots[2] }}</h3>
              <q-btn-toggle class="absolute-right selectbutton" clearable unelevated toggle-color="primary" color="white" text-color="primary" v-model="modulo[2]" :options="[{ label: dates[1], value: module_name[2] + ' - ' + dates[1] }]" />
              <div class="flex prices " style="justify-content: space-between">
                <div class="box">
                  <b>Inscrição:</b>
                  <span>R$ 6.000,00</span>
                </div>
                <div class="box">
                  <b>Clientes Audi R8 (2020/21):</b>
                  <span>R$ 3.000,00</span>
                </div>
                <div class="box">
                  <b>Clientes Audi RS (2020/21):</b>
                  <span>R$ 4.500,00</span>
                </div>
                <div class="box">
                  <b>Clientes Audi RS e-tron GT:</b>
                  <span>R$ 4.500,00</span>
                </div>
              </div>
            </div>

            <div class="option relative-position" v-if="false">
              <h2>{{ module_name[3] }}</h2>
              <h3>{{ module_slots[3] }}</h3>
              <q-btn-toggle class="absolute-right selectbutton" clearable unelevated toggle-color="primary" color="white" text-color="primary" v-model="modulo[3]" :options="[{ label: dates[1], value: module_name[3] + ' - ' + dates[1] }]" />
              <div class="flex prices " style="justify-content: space-between">
                <div class="box">
                  <b>Inscrição:</b>
                  <span>R$ 6.000,00</span>
                </div>
                <div class="box">
                  <b>Clientes Audi R8 (2020/21):</b>
                  <span>R$ 3.000,00</span>
                </div>
                <div class="box">
                  <b>Clientes Audi RS (2020/21):</b>
                  <span>R$ 4.500,00</span>
                </div>
                <div class="box">
                  <b>Clientes Audi RS e-tron GT:</b>
                  <span>R$ 4.500,00</span>
                </div>
              </div>
            </div>
          </div>
          <span style="text-align: center;display: block;color: rgb(245, 5, 55);width: 380px;margin: 0 auto;font-weight: bold;"
            >As inscrições são cobradas individualmente.<br />
            Caso queira se inscrever em mais de uma modalidade de curso, considere o somatório dos valores.</span
          >
          <q-card-actions align="right">
            <q-btn color="primary" label="Continuar" @click="onMove('form2')" class="q-px-lg q-py-sm" />
          </q-card-actions>
        </q-tab-panel>

        <q-tab-panel name="form2" ref="form2">
          <div class="text-h6">2. Dados pessoais</div>
          <div class="double-input">
            <q-input square outlined label="Nome completo" v-model="nome" required />
            <q-input square outlined label="E-mail" v-model="email" required :rules="['email']" />
          </div>
          <div class="double-input">
            <q-input square outlined label="Telefone" v-model="telefone" required :mask="'(##) #####-####'" />
            <q-input square outlined label="CPF" v-model="cpf" required :mask="'###.###.###-###'" />
          </div>
          <div class="double-input">
            <q-input square outlined label="Data de Nascimento" v-model="nascimento" required :mask="'##/##/####'" />
          </div>

          <div class="double-input">
            <q-select square outlined :options="['P', 'M', 'G', 'GG']" label="Tamanho da Blusa" v-model="tamanho_blusa" required />
            <q-select square outlined :options="['P - 55/56 cm', 'M - 57/58 cm', 'G - 59/60 cm', 'GG - 61/62 cm']" label="Tamanho do Capacete" v-model="tamanho_capacete" required />
          </div>

          <div class="double-input">
            <q-input square outlined label="Onde ficou sabendo do evento?" v-model="conheceu" required />
          </div>

          <q-card-actions align="right">
            <q-btn color="grey-10" label="Voltar" @click="onMove('form1', true)" class="q-px-lg q-py-sm" />
            <q-btn color="primary" label="Continuar" @click="onMove('form3')" class="q-px-lg q-py-sm" />
          </q-card-actions>
        </q-tab-panel>

        <q-tab-panel name="form3">
          <div class="text-h6">3. Veículo atual</div>
          <div class="radio-options q-mb-md">
            <strong>É cliente audi?</strong>
            <div>
              <q-radio v-model="cliente_audi" :val="true" label="Sim" />
              <q-radio v-model="cliente_audi" :val="false" label="Não" />
            </div>
          </div>
          <div class="is-client" v-if="cliente_audi === true">
            <div class="year-model q-mb-lg">
              <q-input class="year" square outlined label="Ano" v-model="ano" />
              <q-input class="model" square outlined label="Modelo" v-model="modelo" />
            </div>

            <strong>Tem interesse em troca?</strong>
            <div>
              <q-radio v-model="tempo_troca" :val="'3 meses'" label="3 meses" />
              <q-radio v-model="tempo_troca" :val="'3 a 6 meses'" label="3 a 5 meses" />
              <q-radio v-model="tempo_troca" :val="'1 ano'" label="1 ano" />
              <q-radio v-model="tempo_troca" :val="'1 a 3 anos'" label="1 a 3 anos" />
              <q-radio v-model="tempo_troca" :val="'Não tenho interesse'" label="Não tenho interesse" />
            </div>
          </div>

          <div class="is-client" v-if="cliente_audi === false">
            <div class="radio-options q-mb-md">
              <strong>Possui carro?</strong>
              <div>
                <q-radio v-model="possui_carro" :val="true" label="Sim" />
                <q-radio v-model="possui_carro" :val="false" label="Não" />
              </div>
            </div>

            <div class="year-model q-mb-lg" v-if="possui_carro == true">
              <q-input class="model" square outlined label="Marca" v-model="marca" />
              <q-input class="year" square outlined label="Ano" v-model="ano" />
              <q-input class="model" square outlined label="Modelo" v-model="modelo" />
            </div>

            <template v-if="possui_carro == true">
              <strong>Tem interesse em comprar um Audi</strong>
              <div>
                <q-radio v-model="deseja_comprar" :val="true" label="Sim" />
                <q-radio v-model="deseja_comprar" :val="false" label="Não" />
              </div>
            </template>
          </div>

          <q-card-actions align="right">
            <q-btn color="grey-10" label="Voltar" @click="onMove('form2', true)" class="q-px-lg q-py-sm" />
            <q-btn color="primary" label="Continuar" type="submit" class="q-px-lg q-py-sm" />
          </q-card-actions>
        </q-tab-panel>

        <q-tab-panel name="finish">
          <div class="text-h6">Inscrição solicitada com sucesso</div>
          Em breve entraremos em contato para confirmar sua inscrição
        </q-tab-panel>
      </q-tab-panels>
    </q-form>
  </q-card>
</template>

<script>
  import { Screen } from 'quasar';
  export default {
    name: 'applicationForm',
    components: {},
    updated() {
      window['teste'] = this;
    },
    mounted() {},
    methods: {
      onSubmit() {
        let vm = this;
        this.$q.loading.show();

        fetch('https://www.bigshop.com.br/form_audi.php', {
          method: 'POST',
          body: JSON.stringify(this.$data),
          headers: { 'Content-type': 'application/json; charset=UTF-8' },
        })
          .then(function() {
            vm.$q.loading.hide();
            vm.onMove('finish');
          })
          .then((json) => console.log(json))
          .catch((err) => console.log(err));
      },
      onMove(step, back) {
        let ok = true;
        this.step = step;

        if (back == undefined) {
          switch (step) {
            case 'form2':
              if (this.modulo.join() == ',,,,') {
                this.$q.dialog({
                  title: 'Ops',
                  html: true,
                  message: 'Você precisa selecionar ao menos 1 módulo',
                });
                this.step = 'form1';
              }
              break;
            case 'form3':
              if (this.$refs.form2.$el.querySelectorAll('input:invalid').length > 0) {
                this.$q.dialog({
                  title: 'Ops',
                  html: true,
                  message: 'Todos os campos são obrigatórios',
                });
                this.step = 'form2';
              }
              break;
          }
        }

        switch (this.step) {
          case 'form1':
            this.formTitle = 'Faça sua inscrição';
            this.progress = 25;
            break;
          case 'form2':
            this.formTitle = 'Faça sua inscrição';
            this.progress = 50;
            break;
          case 'form3':
            this.formTitle = 'Faça sua inscrição';
            this.progress = 75;
            break;
          case 'finish':
            this.$q.loading.hide();
            this.formTitle = 'AUDI DRIVING EXPERIENCE 2021';
            this.progress = 100;
            break;
        }
        console.log(step);
      },
    },
    data() {
      return {
        Screen: Screen,
        formTitle: 'Faça sua inscrição',
        step: 'form1',
        dates: ['29/07', '30/07', '31/07', '01/08', '06/08', '07/08', '08/08'],
        dates_old: ['12/03', '13/03', '14/03', '19/03', '20/03', '21/03'],
        progress: 25,
        modulo: ['', '', '', '', ''],
        module_name: ['Audi Dynamic Driving Experience', 'Audi Sport Pro driving experience', 'Audi Women’s driving experience'],
        module_slots: ['24 vagas por dia', '12 vagas por dia', '16 vagas por dia', '36 vagas por dia - 18 por turno'],
        conheceu: '',
        nome: '',
        email: '',
        telefone: '',
        cpf: '',
        nascimento: '',
        possui_carro: null,
        genero: '',
        tamanho_blusa: '',
        tamanho_capacete: '',
        cliente_audi: null,
        ano: '',
        modelo: '',
        tempo_troca: '',
        marca: '',
        deseja_comprar: '',
      };
    },
  };
</script>

<style scoped>
  .prices {
    width: 100%;
    margin: 35px 0 0 0;
  }

  .prices .box {
    border-left: 5px solid #f50537;
    padding-left: 10px;
    /* margin: 0 10px; */
    width: 115px;
  }

  .mobile .prices .box {
    margin-bottom: 20px;
  }

  .prices .box b {
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
    height: 23px;
  }

  .prices .box span {
    font-size: 14px;
  }

  .radio-grid {
    display: grid;
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    grid-gap: 24px;
    width: 100%;
  }
  .button-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .form-header {
    padding: 40px;
  }
  .form-header h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #f50537;
    text-transform: uppercase;
  }
  .progress-bar {
    width: 100%;
    display: block;
    height: 2px;
    background: #e8e8e8;
    position: relative;
  }
  .progress-fill {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: #f50537;
  }
  .text-h6 {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .radio-option {
    padding: 24px;
  }
  .button-couple {
    display: flex;
    grid-gap: 24px;
    justify-content: flex-end;
  }
  .button-finish {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .double-input {
    display: flex;
    grid-gap: 24px;
    margin-bottom: 24px;
  }
  .double-input > * {
    width: calc(50% - 12px);
  }
  .year-model {
    display: flex;
    grid-gap: 24px;
  }
  .year {
    width: 180px;
  }
  .model {
    width: 360px;
  }

  .option {
    border: 1px solid #000;
    padding: 20px;
    padding-bottom: 37px;
  }
  .option h2 {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    line-height: 3;
  }
  .option h3 {
    margin: 0;
    font-size: 17px;
    line-height: 1;
  }

  .selectbutton {
    height: auto;
    top: 36px;
    right: 20px;
    zoom: 0.7;
    width: 265px;
    flex-wrap: wrap;
  }

  .selectbutton >>> button {
    border: 1px solid #000;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px 0;
  }

  .double-input .q-field--with-bottom {
    padding-bottom: 0;
  }

  @media (max-width: 982px) {
    .radio-grid {
      grid-template-columns: 100%;
    }
    .option {
      display: flex;
      flex-direction: column;
    }
    .option .q-btn-group {
      position: relative;
      margin-bottom: 24px;
    }
    .double-input {
      flex-direction: column;
    }
    .double-input > * {
      width: 100%;
    }
  }
</style>
