<template>
  <q-intersection once id="step_5" transition="fade" class="clearfix q-py-xl" :class="{ mobile: Screen.width < 768 }">
    <h2 class="pink_color text-center at_ex fs-36 text-bold q-mb-md text-uppercase">Preços</h2>

    <div class="flex prices " style="justify-content: center">
      <div class="box">
        <b>Inscrição:</b>
        <span>R$ 6.000,00</span>
      </div>
      <div class="box">
        <b>Clientes Audi R8 (2020/21):</b>
        <span>R$ 3.000,00</span>
      </div>

      <div class="box">
        <b>Clientes Audi RS (2020/21):</b>
        <span>R$ 4.500,00</span>
      </div>

      <div class="box">
        <b>Clientes Audi RS e-tron GT:</b>
        <span>R$ 4.500,00</span>
      </div>
    </div>
    <q-btn unelevated @click="$root.$children[0].openForm()" color="primary" label="Faça sua inscrição" class="q-px-md" style="background-color: rgb(245, 5, 55) !important;margin: 50px auto;display: block;padding: 10px 60px;border-radius: 0;" />
  </q-intersection>
</template>

<script>
  import { Screen } from 'quasar';
  export default {
    name: 'price',
    components: {},
    mounted() {},
    methods: {},
    data() {
      return { Screen: Screen, tab: 'tab1' };
    },
  };
</script>

<style scoped>
  .prices {
    max-width: 1200px;
    margin: 100px auto;
    justify-content: space-around !important;
  }

  .prices .box {
    border-left: 5px solid #f50537;
    padding-left: 15px;
    margin: 0;
  }

  .mobile .prices .box {
    width: 250px;
    margin-bottom: 20px;
  }

  .prices .box b {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
  }

  .prices .box span {
    font-size: 26px;
  }

  .info {
    max-width: 1200px;
    margin: 8px auto;
    font-size: 12px;
    color: #848484;
  }

  .cards .program_card {
    width: 220px;
  }

  .mobile h2 {
    font-size: 30px;
  }
  .mobile h6 {
    font-size: 16px;
    line-height: 21px;
    padding: 0 60px;
  }
</style>
