<template>
  <q-intersection once id="step_5" transition="fade" class="clearfix bg-blue-grey-2 q-py-xl" :class="{ mobile: Screen.width < 768 }">
    <h2 class="pink_color text-center at_ex fs-36 text-bold q-mb-md text-uppercase">Audi Driving Experience Program</h2>
    <h6 class="text-center q-mt-none">Torne-se um verdadeiro piloto com o melhor programa Audi</h6>

    <div class="flex cards" style="justify-content: center;">
      <q-card class="program_card cursor-pointer" flat @click="event1 = !event1">
        <div class="img_card" style="background-image:url('/images/1.jpg')"></div>
        <q-card-section>
          <div class="text-h6 text-bold q-mb-md" style="height: 65px;">Audi Dynamic Driving Experience</div>
          <div class="text-subtitle2">29, 30 de julho, 01, 06 e 08 de agosto</div>
        </q-card-section>
        <q-card-section class="q-pt-none pink_color q-mt-xl readmore " :class="{ mobile: Screen.width < 768 }">
          Saiba Mais
        </q-card-section>
      </q-card>

      <q-card class="program_card cursor-pointer" flat @click="event2 = !event2">
        <div class="img_card" style="background-image:url('/images/2.jpg')"></div>
        <q-card-section>
          <div class="text-h6 text-bold q-mb-md" style="height: 65px;">Audi Sport Pro driving experience</div>
          <div class="text-subtitle2">31 de julho e 07 de agosto</div>
        </q-card-section>
        <q-card-section class="q-pt-none pink_color readmore q-mt-xl" :class="{ mobile: Screen.width < 768 }">
          Saiba Mais
        </q-card-section>
      </q-card>

      <q-card class="program_card cursor-pointer" flat @click="event3 = !event3">
        <div class="img_card" style="background-image:url('/images/3.jpg')"></div>
        <q-card-section>
          <div class="text-h6 text-bold q-mb-md" style="height: 65px; line-height:1.3">Audi Women's Dynamic Driving Experience</div>
          <div class="text-subtitle2">30 de julho</div>
        </q-card-section>
        <q-card-section class="q-pt-none pink_color q-mt-xl readmore" :class="{ mobile: Screen.width < 768 }">
          Saiba Mais
        </q-card-section>
      </q-card>

      <q-card class="program_card cursor-pointer" flat @click="event4 = !event4" v-if="false">
        <div class="img_card" style="background-image:url('/images/4.jpg')"></div>
        <q-card-section>
          <div class="text-h6 text-bold q-mb-md" style="height: 65px;">Audi Security driving experience</div>
          <div class="text-subtitle2">A CONFIRMAR</div>
        </q-card-section>
        <q-card-section class="q-pt-none pink_color q-mt-xl readmore" :class="{ mobile: Screen.width < 768 }">
          Saiba Mais
        </q-card-section>
      </q-card>

      <q-card class="program_card cursor-pointer" flat @click="event5 = !event5" v-if="false">
        <div class="img_card" style="background-image:url('/images/5.jpg')"></div>
        <q-card-section>
          <div class="text-h6 text-bold q-mb-md" style="height: 65px;">Audi Festival</div>
          <div class="text-subtitle2">A CONFIRMAR</div>
        </q-card-section>
        <q-card-section class="q-pt-none pink_color q-mt-xl readmore" :class="{ mobile: Screen.width < 768 }">
          Saiba Mais
        </q-card-section>
      </q-card>
    </div>

    <div class="info q-mt-sm">* É indispensável que o condutor tenha uma CNH válida por mais de 5 anos</div>

    <q-dialog v-model="event1" persistent content-class="popup" transition-show="jump-down" transition-hide="jump-down">
      <q-card :class="{ mobile: Screen.width < 768 }">
        <q-card-actions align="right" class="absolute-top-right z-top">
          <q-btn flat round color="black" icon="close" v-close-popup />
        </q-card-actions>
        <q-card-section>
          <div class="text-h6 pink_color fs-30 text-bold text-uppercase">Audi Dynamic Driving Experience</div>
        </q-card-section>

        <div class="img popup_image" style="background-image:url('/images/1.jpg')"></div>

        <q-card-section class="flex">
          <div class="texto">
            <b>Sobre o módulo</b>
            Uma experiência de um dia que vai mudar você como motorista. A nossa equipe de pilotos profissionais irá ensiná-lo a pilotar em um nível nunca imaginado. Técnicas para desenvolver um excelente controle do carro, conectando a sua experiência da estrada para a pista. Você terá a oportunidade de dirigir veículos selecionados da linha RS, e adquirir um nível de confiança ao volante que você nunca pensou ser possível. As atividades incluem slalom, controle de saída de frente e traseira, frenagens de emergência com ABS, técnicas de pilotagem em pista, com toda segurança e diversão.

            <b>Duração:</b> 1 dia

            <b>Pré-requisitos:</b> Mínimo 5 anos de habilitação, e CNH dentro do prazo de validade
          </div>
          <div class="date_box">
            <q-btn unelevated flat outline color="black" no-caps class="q-px-md text-lowercase" style="margin: 50px auto;display: block;padding: 10px;border-radius: 0px;border: 1px solid rgb(0, 0, 0);width: 220px;background-color: rgb(255, 255, 255) !important;margin: 0 auto;margin-bottom: 25px;"><span class="fs-24 ">29, 30 de julho,<br> 01, 06 e 08 de agosto</span></q-btn>
            <q-btn unelevated color="primary" @click="$root.$children[0].openForm()" no-caps label="Faça sua inscrição" class="q-px-none " style="margin: 50px auto;display: block;padding: 10px;border-radius: 0px;width: 220px;background-color: rgb(245, 5, 55) !important;margin: 0 auto;"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="event2" persistent content-class="popup" transition-show="jump-down" transition-hide="jump-down">
      <q-card :class="{ mobile: Screen.width < 768 }">
        <q-card-actions align="right" class="absolute-top-right z-top">
          <q-btn flat round color="black" icon="close" v-close-popup />
        </q-card-actions>
        <q-card-section>
          <div class="text-h6 pink_color fs-30 text-bold text-uppercase">Audi Sport Pro driving experience</div>
        </q-card-section>

        <div class="img popup_image" style="background-image:url('/images/2.jpg')"></div>

        <q-card-section class="flex">
          <div class="texto">
            <b>Sobre o módulo</b>
            Um programa de alto desempenho para aprimorar suas habilidades na pista, com muita emoção e adrenalina. Conhecer os limites do seu veículo e toda tecnologia Audi tornará a sua experiência inesquecível.
            <br />
            Você se juntará a um seleto grupo de pilotos para descobrir os segredos da pista. Encontrar a linha de corrida perfeita, pontos de frenagem, tomada, tangência e saída de curva. Você ficará surpreso com o quanto aprenderá em um dia.
            <br />
            As atividades incluem análise completa da pista, coach personalizado e registro dos seus tempos de volta para medir a sua evolução.
            <br />
            Conteúdo do programa:<br />- Track walk e análise do circuito<br />- Treino de aquecimento por setores com veículos da frota da Audi<br />
            - Voltas guiadas com o seu veículo<br />
            - Coach individual<br />
            - Debrief e análise da sua evolução<br />
            - Volta rápida<br /><br />
            <b>Duração:</b> 1 dia

            <b>Pré-requisitos:</b> Mínimo 5 anos de habilitação, e CNH dentro do prazo de validade. Utilização do próprio veículo esportivo da marca Audi no evento.
          </div>
          <div class="date_box">
            <q-btn unelevated flat outline color="black" no-caps class="q-px-md" style="margin: 50px auto;display: block;padding: 10px;border-radius: 0px;border: 1px solid rgb(0, 0, 0);width: 220px;background-color: rgb(255, 255, 255) !important;margin: 0 auto;margin-bottom: 25px;"><span class="fs-24 ">31/07 e 07/08</span></q-btn>
            <q-btn unelevated color="primary" @click="$root.$children[0].openForm()" no-caps label="Faça sua inscrição" class="q-px-none" style="margin: 50px auto;display: block;padding: 10px;border-radius: 0px;width: 220px;background-color: rgb(245, 5, 55) !important;margin: 0 auto;"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="event3" persistent content-class="popup" transition-show="jump-down" transition-hide="jump-down">
      <q-card :class="{ mobile: Screen.width < 768 }">
        <q-card-actions align="right" class="absolute-top-right z-top">
          <q-btn flat round color="black" icon="close" v-close-popup />
        </q-card-actions>
        <q-card-section>
          <div class="text-h6 pink_color fs-30 text-bold text-uppercase">Audi Women's Dynamic Driving Experience</div>
        </q-card-section>

        <div class="img popup_image" style="background-image:url('/images/3.jpg')"></div>

        <q-card-section class="flex">
          <div class="texto">
            <b>Sobre o módulo</b>
            Uma experiência de um dia que vai mudar você como motorista. A nossa equipe de pilotos profissionais irá ensiná-lo a pilotar em um nível nunca imaginado. Técnicas para desenvolver um excelente controle do carro, conectando a sua experiência da estrada para a pista. Você terá a oportunidade de dirigir veículos selecionados da linha RS, e adquirir um nível de confiança ao volante que você nunca pensou ser possível. As atividades incluem slalom, controle de saída de frente e traseira, frenagens de emergência com ABS, técnicas de pilotagem em pista, com toda segurança e diversão.

            <b>Duração:</b> 1 dia

            <b>Pré-requisitos:</b> Mínimo 5 anos de habilitação, e CNH dentro do prazo de validade.
          </div>
          <div class="date_box">
            <q-btn unelevated flat outline color="black" no-caps class="q-px-md" style="margin: 50px auto;display: block;padding: 10px;border-radius: 0px;border: 1px solid rgb(0, 0, 0);width: 220px;background-color: rgb(255, 255, 255) !important;margin: 0 auto;margin-bottom: 25px;"><span class="fs-24 ">30 de julho</span></q-btn>
            <q-btn unelevated color="primary" @click="$root.$children[0].openForm()" no-caps label="Faça sua inscrição" class="q-px-none" style="margin: 50px auto;display: block;padding: 10px;border-radius: 0px;width: 220px;background-color: rgb(245, 5, 55) !important;margin: 0 auto;"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="event4" persistent content-class="popup" transition-show="jump-down" transition-hide="jump-down">
      <q-card :class="{ mobile: Screen.width < 768 }">
        <q-card-actions align="right" class="absolute-top-right z-top">
          <q-btn flat round color="black" icon="close" v-close-popup />
        </q-card-actions>
        <q-card-section>
          <div class="text-h6 pink_color fs-30 text-bold text-uppercase">Audi Security driving experience</div>
        </q-card-section>

        <div class="img popup_image" style="background-image:url('/images/4.jpg')"></div>

        <q-card-section class="flex">
          <div class="texto">
            <b>Sobre o módulo</b>
            Entendemos segurança como qualidade de vida. Portanto, como em qualquer aspecto da vivência humana, há que se aplicar a prevenção. Desenvolvido para proprietários de veículos Audi blindados, que buscam apreender a se comportar com mais segurança no ambiente urbano. Dicas e simulações de situações de emergência o farão refletir e se preparar melhor para o dia a dia. A nossa proposta consiste em realizar um treinamento intensivo para desenvolver pleno entendimento dos princípios de proteção e dirigibilidade e conseguir aplicá-los da melhor maneira. A junção dessas duas grandes dimensões a serem trabalhadas possibilitará aos participantes o desenvolvimento pessoal e profissional esperado.

            <b>Duração:</b> 1 dia

            <b>Pré-requisitos:</b> CNH dentro do prazo de validade. Utilização do seu próprio veículo Audi blindado.
          </div>
          <div class="date_box">
            <q-btn unelevated flat outline color="black" no-caps class="q-px-md" style="margin: 50px auto;display: block;padding: 10px;border-radius: 0px;border: 1px solid rgb(0, 0, 0);width: 220px;background-color: rgb(255, 255, 255) !important;margin: 0 auto;margin-bottom: 25px;"><span class="fs-24 ">A CONFIRMAR</span></q-btn>
            <q-btn unelevated color="primary" @click="$root.$children[0].openForm()" no-caps label="Faça sua inscrição" class="q-px-none" style="margin: 50px auto;display: block;padding: 10px;border-radius: 0px;width: 220px;background-color: rgb(245, 5, 55) !important;margin: 0 auto;"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="event5" persistent content-class="popup" transition-show="jump-down" transition-hide="jump-down">
      <q-card :class="{ mobile: Screen.width < 768 }">
        <q-card-actions align="right" class="absolute-top-right z-top">
          <q-btn flat round color="black" icon="close" v-close-popup />
        </q-card-actions>
        <q-card-section>
          <div class="text-h6 pink_color fs-30 text-bold text-uppercase">Audi Festival</div>
        </q-card-section>

        <div class="img popup_image" style="background-image:url('/images/5.jpg')"></div>

        <q-card-section class="flex">
          <div class="texto">
            <b>Sobre o módulo</b>
            Venha se divertir! Oportunidade única de experimentar os modelos da linha RS e conhecer de perto todas as tecnologias embarcadas nos veículos Audi! Você terá a chance de realizar voltas guiadas na pista, testar a largada de um dos veículos mais icônicos da marca, o Audi R8, além de várias atividades dinâmicas no piso molhado, e toda capacidade da linha Q na pista off road.

            <b>Duração:</b> 1/2 dia

            <b>Pré-requisitos:</b> Mínimo 5 anos de habilitação, e CNH dentro do prazo de validade.
          </div>
          <div class="date_box">
            <q-btn unelevated flat outline color="black" no-caps class="q-px-md" style="margin: 50px auto;display: block;padding: 10px;border-radius: 0px;border: 1px solid rgb(0, 0, 0);width: 220px;background-color: rgb(255, 255, 255) !important;margin: 0 auto;margin-bottom: 25px;"><span class="fs-24 ">A CONFIRMAR</span></q-btn>
            <q-btn unelevated color="primary" @click="$root.$children[0].openForm()" no-caps label="Faça sua inscrição" class="q-px-none" style="margin: 50px auto;display: block;padding: 10px;border-radius: 0px;width: 220px;background-color: rgb(245, 5, 55) !important;margin: 0 auto;"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-intersection>
</template>

<script>
  import { Screen } from 'quasar';
  export default {
    name: 'program',
    components: {},
    mounted() {
      window['teste'] = this;
    },
    methods: {},
    data() {
      return { Screen: Screen, tab: 'tab1', event1: false, event2: false, event3: false, event4: false, event5: false };
    },
  };
</script>

<style scoped>
  .cards {
    max-width: 1200px;
    margin: 0 auto;
  }

  .mobile .cards .text-h6 {
    line-height: 1;
    height: auto !important;
  }

  .mobile .program_card {
    width: 183px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    height: auto;
    margin-bottom: 20px;
  }

  .info {
    max-width: 1200px;
    margin: 8px auto;
    font-size: 12px;
    color: #848484;
  }

  .cards .program_card {
    width: 220px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .img_card {
    height: 100px;
    background-position: center center;
    background-size: cover;
  }

  .img {
    width: 1150px;
    height: 195px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .mobile h2 {
    font-size: 30px;
  }
  .mobile h6 {
    font-size: 16px;
    line-height: 21px;
    padding: 0 60px;
  }
</style>

<style>
  .popup .q-card {
    width: 100%;
    max-width: 1150px;
  }
  .popup .texto {
    width: 800px;
    padding-right: 35px;
    line-break: initial;
    white-space: pre-line;
  }

  .mobile .popup .texto {
    width: 340px;
    padding-right: 0;
  }

  .mobile .popup .date_box {
    float: none;
    margin: 0 auto;
  }

  .date_box {
    margin-left: 40px;
  }

  .mobile .readmore {
    margin-top: 0;
  }

  .mobile .popup_image {
    max-width: 100%;
    height: 130px;
    background-size: cover;
    background-position: center center;
  }
</style>
