<template class="relative-position">
  <q-intersection once class="full-width full-heigth" id="step_1" transition="fade">
    <header class="absolute-top full-width q-pa-lg" style="z-index:1">
      <img src="~/assets/audi.svg" class="logo_audi float-left" />
      <!--img src="~/assets/audi_sport.svg" class="logo_audi_sport float-right"-->
    </header>
    <q-parallax class="full-width full-heigth" :class="{ mobile: Screen.width < 768 }" :height="Screen.height">
      <template v-slot:media>
        <img src="~/assets/banner_01.jpg" />
      </template>
      <template v-slot:content="scope">
        <div
          class="absolute column items-center"
          :style="{
            top: scope.percentScrolled * 30 + '%',
            left: 0,
            right: 0,
          }"
        >
          <h1 class="text-h2 text-black text-center text-weight-bold q-mb-none at_ex">Audi Driving<br />Experience 2021</h1>
          <h2 class="text-subtitle1 text-black text-center  at_ex">
            Se você já dirigiu um Audi, agora é hora de pilotar
          </h2>
        </div>

        <q-btn round flat color="pink-13" icon="expand_more" class="absolute-bottom" style="left: 50%;font-size: 32px;transform: translateX(-50%);" />
      </template>
    </q-parallax>

    <div class="info at_ex" style=" margin: 0 auto;    background-color: #000;    color: #FFF;    padding: 10px;    font-size: 20px;    line-height: 2;    text-align: center;">
      <div
        v-if="false"
        class="text "
        style="
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
"
      >
        <h4 class="at_ex">Importante</h4>
        Em decorrência do agravamento da crise sanitária causada pelo COVID-19 e das medidas protetivas a partir da confirmação da fase vermelha no estado de São Paulo, o evento Audi Driving Experience, que ocorreria neste mês de março, foi adiado para o segundo trimestre de 2021. Informamos que todos os inscritos receberão nosso contato telefônico nos próximos dias.
      </div>
    </div>
  </q-intersection>
</template>

<script>
  import { Screen } from 'quasar';

  export default {
    name: 'banner',
    components: {},
    mounted() {
      this.randomGridStep2();
    },
    methods: {
      randomGridStep2() {
        let total = document.querySelectorAll('#step_2 .blocks .block_grid').length;
        let idx = Math.floor(Math.random() * total + 1);

        if (document.querySelectorAll('#step_2 .blocks .block_grid')[idx - 1]) {
          if (document.querySelectorAll('#step_2 .blocks .block_grid')[idx - 1].classList.contains('animate') == false) {
            document.querySelectorAll('#step_2 .blocks .block_grid')[idx - 1].classList.add('animate');
          }
        }

        setTimeout(() => {
          this.randomGridStep2();
        }, 500);
      },
    },
    data() {
      return { Screen: Screen };
    },
  };
</script>

<style scoped>
  .mobile >>> h1 {
    font-size: 36px;
    line-height: 44px;
    width: 280px;
    text-align: center;
  }

  .mobile >>> h2 {
    font-size: 20px;
    line-height: 24px;
    width: 340px;
    text-align: center;
  }

  .mobile >>> img {
    left: 700px;
  }
</style>
