<template>
  <q-intersection once id="step_4" class="clearfix" transition="fade" :class="{ mobile: Screen.width < 768 }">
    <content class="">
      <h2 class="pink_color text-center at_ex fs-36 text-bold q-mb-md q-pt-lg">MODELOS</h2>
      <h6 class="text-center q-mt-none">Conheça os modelos Audi que você vai pilotar</h6>
      <q-tabs v-model="tab" class="text-grey tabs" :class="{ mobile: Screen.width < 768 }" active-bg-color="white" active-color="black" indicator-color="white" align="left" dense animated>
        <q-tab v-for="(car, index) in cars" v-bind:key="index" :ripple="false" class="tab" :name="'tab' + index" @click="changeTab(car)" :class="{ mobile: Screen.width < 768 }">
          <q-img :src="'/cars/tabs/' + car.photo_tab" class="tab_image" :class="{ mobile: Screen.width < 768 }"></q-img>
          <span>{{ car.name }}</span>
        </q-tab>
      </q-tabs>

      <q-tab-panels v-model="tab" swipeable animated class="" keep-alive @transition="changeTabs()" transition-next="jump-left" transition-prev="jump-right" style="    margin-top: -20px;">
        <q-tab-panel v-for="(car, index) in cars" v-bind:key="index" :name="'tab' + index" style="padding:0">
          <q-img :src="'/cars/' + car.photos[0]" :ratio="2.3"></q-img>
        </q-tab-panel>
      </q-tab-panels>

      <div class="info flex" style="justify-content: space-around;" :class="{ mobile: Screen.width < 768 }">
        <div>
          <span>Potência</span>
          <b>{{ tweenedHP.toFixed(0) }} hp</b>
        </div>
        <div>
          <span>Torque</span>
          <b>{{ tweenedNM.toFixed(0) }} Nm</b>
        </div>
        <div>
          <span>Velocidade Máxima</span>
          <b>{{ tweenedSpeed.toFixed(0) }} km/h</b>
        </div>
        <div>
          <span>0 a 100 km/h</span>
          <b>{{ tweenedTime.toFixed(2) }} segundos</b>
        </div>
      </div>
    </content>
    <div class="blocks" :class="{ mobile: Screen.width < 768 }" :height="Screen.height">
      <div class="block_grid" v-for="index in 12" :key="index"></div>
    </div>
  </q-intersection>
</template>

<script>
  import { gsap } from 'gsap';
  import { TextPlugin } from 'gsap/TextPlugin';

  gsap.registerPlugin(TextPlugin);
  import { Screen } from 'quasar';

  const cars = [
    {
      name: 'RS e-tron GT',
      photo_tab: 'etron.png',
      photos: ['etron.jpg'],
      hp: '440',
      nm: '830',
      speed: '250',
      time: '3.3',
    },
    {
      name: 'R8',
      photo_tab: 'Audi__0007_R8-min.png',
      photos: ['r8.jpg'],
      hp: '610',
      nm: '560',
      speed: '330',
      time: '3.2',
    },
    {
      name: 'RS4',
      photo_tab: 'Audi__0006_RS-4-min.png',
      photos: ['rs4.jpg'],
      hp: '450',
      nm: '600',
      speed: '250',
      time: '4.1',
    },
    {
      name: 'RS5',
      photo_tab: 'Audi__0005_RS-5-min.png',
      photos: ['rs5.jpg'],
      hp: '450',
      nm: '600',
      speed: '250',
      time: '3.9',
    },
    {
      name: 'RS6',
      photo_tab: 'Audi__0004_RS-6-Avant-min.png',
      photos: ['rs6.jpg'],
      hp: '600',
      nm: '800',
      speed: '305',
      time: '3.6',
    },
    {
      name: 'RS7 Sportback',
      photo_tab: 'Audi__0003_RS-7-min.png',
      photos: ['rs7.jpg'],
      hp: '600',
      nm: '800',
      speed: '250',
      time: '3.9',
    },
    {
      name: 'RS Q8',
      photo_tab: 'Audi__0001_RS-Q8-min.png',
      photos: ['rsq8.jpg'],
      hp: '600',
      nm: '800',
      speed: '280',
      time: '3.8',
    },
    {
      name: 'RS Q3',
      photo_tab: 'Audi__0012_RS-Q3-min.png',
      photos: ['rsq3.jpg'],
      hp: '400',
      nm: '250',
      speed: '280',
      time: '4.5',
    },
    {
      name: 'TT RS',
      photo_tab: 'Audi__0002_TT-RS-min.png',
      photos: ['ttrs.jpg'],
      hp: '400',
      nm: '480',
      speed: '250',
      time: '3.7',
    },
    {
      name: 'Q7',
      photo_tab: 'Audi__0000_Q7-min.png',
      photos: ['q7.jpg'],
      hp: '340',
      nm: '500',
      speed: '250',
      time: '5.9',
    },
    {
      name: 'A4 Performance Black',
      photo_tab: 'Audi__0008_A4-Performance-Black-min.png',
      photos: ['a4performanceblack.jpg'],
      hp: '249',
      nm: '370',
      speed: '250',
      time: '5.8',
    },
    {
      name: 'E-Tron Sportback',
      photo_tab: 'Audi__0009_E-Tron-Sportback-min.png',
      photos: ['e-tronsportback.jpg'],
      hp: '408',
      nm: '664',
      speed: '200',
      time: '5.7',
    },
    {
      name: 'E-Tron',
      photo_tab: 'Audi__0010_E-Tron-min.png',
      photos: ['e-tron.jpg'],
      hp: '408',
      nm: '664',
      speed: '200',
      time: '5.7',
    },
    {
      name: 'RS Q3 Sportback',
      photo_tab: 'Audi__0011_RS-Q3-Sportback-min.png',
      photos: ['rsq3sbp.jpg'],
      hp: '400',
      nm: '480',
      speed: '280',
      time: '4.5',
    },
  ];

  export default {
    name: 'modelos',
    components: {},
    mounted() {
      this.randomGrid();
      this.changeTab(cars[0]);
    },
    methods: {
      changeTabs() {
        let tabIdx = this.tab.replace('tab', '');
        this.changeTab(this.cars[tabIdx]);
      },
      changeTab(obj) {
        this.hp = obj.hp;
        this.nm = obj.nm;
        this.speed = obj.speed;
        this.time = obj.time;
      },

      onScroll(info) {
        if (document.querySelector('header') != null) {
          if (info.position > Screen.height / 2) {
            document.querySelector('header').classList.add('scroll');
          } else {
            document.querySelector('header').classList.remove('scroll');
          }
        }
      },
      randomGrid() {
        let total = document.querySelectorAll('#step_4 .blocks .block_grid').length;
        let idx = Math.floor(Math.random() * total + 1);

        if (document.querySelectorAll('#step_4 .blocks .block_grid')[idx - 1]) {
          if (document.querySelectorAll('#step_4 .blocks .block_grid')[idx - 1].classList.contains('animate') == false) {
            document.querySelectorAll('#step_4 .blocks .block_grid')[idx - 1].classList.add('animate');
          }
        }

        setTimeout(() => {
          this.randomGrid();
        }, 500);
      },
    },
    data() {
      return { Screen: Screen, tab: 'tab0', cars: cars, hp: 0, nm: 0, speed: 0, time: 0, tweenedHP: 0, tweenedNM: 0, tweenedSpeed: 0, tweenedTime: 0 };
    },
    computed: {
      animatedHP: function() {
        return this.tweenedHP;
      },
      animatedNM: function() {
        return this.tweenedNM;
      },
      animatedSpeed: function() {
        return this.tweenedSpeed;
      },
      animatedTime: function() {
        return this.tweenedTime;
      },
    },
    watch: {
      hp: function(newValue) {
        gsap.to(this.$data, { duration: 1, tweenedHP: newValue });
      },
      nm: function(newValue) {
        gsap.to(this.$data, { duration: 1, tweenedNM: newValue });
      },
      speed: function(newValue) {
        gsap.to(this.$data, { duration: 1, tweenedSpeed: newValue });
      },
      time: function(newValue) {
        gsap.to(this.$data, { duration: 1, tweenedTime: newValue });
      },
    },
  };
</script>

<style scoped>
  #step_4 {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 160px;
  }
  .tab {
    padding: 0;
    padding-bottom: 30px;
  }

  .tab >>> .q-img {
    width: 200px;
    margin: 0 20px;
  }

  .tab.mobile >>> .q-img {
    width: 150px;
    margin: 0;
  }
  .tab >>> .q-focus-helper {
    background-color: transparent !important;
  }
  .tab >>> .q-tab__indicator:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent;
    bottom: 10px;
    margin-left: -10px;
    z-index: 1;
  }

  .tabs >>> .q-tab--inactive {
    opacity: 1 !important;
  }

  .tabs >>> .q-tabs__content {
    margin-left: -30px;
    margin-right: -30px;
  }

  .tabs.mobile >>> .q-tabs__content {
    margin-left: 0px;
    margin-right: 0px;
  }
  .tabs >>> .q-tabs__arrow--left {
    background-color: white;
    top: -20px;
    margin-left: -30px;
  }
  .tabs >>> .q-tabs__arrow--right {
    background-color: white;
    top: -20px;
    margin-right: -30px;
  }

  .blocks .block_grid {
    width: 180px;
    height: 160px;
    border: 1px solid #e6e6e6;
    display: block;
    margin: 0 24px;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: -1px;
    float: left;
  }

  .mobile.tab >>> .q-img__image {
    width: 130px;
    height: 43px;
    margin: 10px;
  }

  .mobile h2 {
    font-size: 30px;
  }
  .mobile h6 {
    font-size: 16px;
  }

  .mobile.blocks .block_grid {
    width: 49px;
    height: 47px;
  }
  #step_4 .blocks .block_grid:nth-child(12) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE2MCIgdmlld0JveD0iMCAwIDE4MCAxNjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjkwIiBoZWlnaHQ9IjY1IiBmaWxsPSJibGFjayIvPjxyZWN0IHk9IjEzMCIgd2lkdGg9IjkwIiBoZWlnaHQ9IjMwIiBmaWxsPSJibGFjayIvPjxyZWN0IHg9IjkwIiB5PSI2NSIgd2lkdGg9IjkwIiBoZWlnaHQ9IjY1IiBmaWxsPSJibGFjayIvPjwvc3ZnPg==);
  }

  .blocks .block_grid:nth-child(7n) {
    margin-left: 0;
  }

  .blocks .block_grid:nth-child(6n) {
    margin-right: 0;
  }

  .info {
    background-color: #f3f3f3;
  }

  .info div {
    width: 25%;
    text-align: center;
    padding: 20px;
    height: 100px;
  }
  .info div span {
    display: block;
  }
  .info div b {
    display: block;
    font-size: 24px;
    font-weight: normal;
  }

  .info.mobile div {
    width: 205px;
    height: 70px;
    padding: 10px 0;
  }

  .info.mobile div b {
    font-size: 16px;
    font-weight: 700;
  }
</style>
