@font-face {
    font-family: "AudiType-ExtendedItalic";
    src: url("AudiType-ExtendedItalic_4.03.woff2") format("woff2"),
        url("AudiType-ExtendedItalic_4.03.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AudiType-Extended";
    src: url("AudiType-ExtendedNormal_4.03.woff2") format("woff2"),
        url("AudiType-ExtendedNormal_4.03.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AudiType-Italic";
    src: url("AudiType-Italic_4.03.woff2") format("woff2"),
        url("AudiType-Italic_4.03.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AudiType";
    src: url("AudiType-Normal_4.03.woff2") format("woff2"),
        url("AudiType-Normal_4.03.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AudiType-WideBold";
    src: url("AudiType-WideBold_4.03.woff2") format("woff2"),
        url("AudiType-WideBold_4.03.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AudiType-ExtendedBoldItalic";
    src: url("AudiType-ExtendedBoldItalic_4.03.woff2") format("woff2"),
        url("AudiType-ExtendedBoldItalic_4.03.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AudiType-WideNormal";
    src: url("AudiType-WideNormal_4.03.woff2") format("woff2"),
        url("AudiType-WideNormal_4.03.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AudiType";
    src: url("AudiType-Bold_4.03.woff2") format("woff2"),
        url("AudiType-Bold_4.03.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "AudiType-BoldItalic";
    src: url("AudiType-BoldItalic_4.03.woff2") format("woff2"),
        url("AudiType-BoldItalic_4.03.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AudiType-Extended";
    src: url("AudiType-ExtendedBold_4.03.woff2") format("woff2"),
        url("AudiType-ExtendedBold_4.03.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}



.at_ex {
    font-family: AudiType-Extended;
}