<template>
  <div id="q-app">
    <router-view />
    <Footer />
  </div>
</template>
<script>
import Footer from "./components/footer.vue";
export default {
  name: "App",
  components: {
    Footer,
  },
  data() {
    return { showForm: false };
  },
  methods: {
    openForm() {
      /*
      this.$q.dialog({
        title: 'Ops',
         html: true,
        message: "Falta pouco.<br> Ja já a inscrição estará disponível. "
      }).onOk(() => {
        // console.log('OK')
      }).onCancel(() => {
        // console.log('Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
      */

      this.showForm = true;
    },
  },
};
</script>
<style>
@import "./css/fonts.css";

* {
  font-family: "AudiType";
}
</style>
